<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="com.ssh.controller"/>
    <mvc:annotation-driven/>
    <!--<mvc:default-servlet-handler/>-->
    <mvc:resources mapping="/js/**" location="/WEB-INF/view"/>
    <mvc:resources mapping="/images/**" location="/WEB-INF/images"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/css"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- 指定所有没有指定的异常,都跳转到该页面 -->
        <property name="defaultErrorView" value="errorPage/500"/>
        <!-- 跳转时携带异常对象 -->
        <property name="exceptionAttribute" value="ex"/>
    </bean>
</beans>